name: Builder

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: BulidForWindows
    runs-on: windows-latest

    steps:
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1
        with:
          vs-version: '[16.7, 16.8)'
                
      - name: CheckOut vdl
        uses: actions/checkout@v2.3.4
        with:
          path: vdl
          lfs: true
       
      - name: CheckOut IWYU
        uses: actions/checkout@v2.3.4
        with:
          repository: hiratch1229/IWYU
          path: IWYU
                    
      - name: Build IWYU
        run: msbuild IWYU\IWYU.sln -p:Configuration=Release -p:Platform=x64 -p:OutDir=.\ -p:DefineConstants=ENBALE_ALL_INCLUDE_PATH

      - name: IWYU
        shell: cmd
        run: |
          mkdir Result
          IWYU\IWYU vdl\vdlForWindows\Project\Engine\vdl\vdl.vcxproj 2>> Result\IWYU.txt
          IWYU\IWYU vdl\vdlForWindows\Project\Engine\vdlForDirectX11\vdlForDirectX11.vcxproj 2>> Result\IWYU.txt
          IWYU\IWYU vdl\vdlForWindows\Project\Engine\vdlForDirectX12\vdlForDirectX12.vcxproj 2>> Result\IWYU.txt
          IWYU\IWYU vdl\vdlForWindows\Project\Engine\vdlForVulkan\vdlForVulkan.vcxproj 2>> Result\IWYU.txt
          IWYU\IWYU vdl\vdlForWindows\Project\Engine\vdlForWindows\vdlForWindows.vcxproj 2>> Result\IWYU.txt

      - name: Upload Result Files
        uses: actions/upload-artifact@v2
        with:
          name: Result
          path: Result
       
      - name: Build vdl
        run: |
            cd vdl
            msbuild vdlForWindows\vdlForWindows.sln -p:Configuration=DirectX11OnWindows_Release -p:Platform=x64
            msbuild vdlForWindows\vdlForWindows.sln -p:Configuration=DirectX12OnWindows_Release -p:Platform=x64
            msbuild vdlForWindows\vdlForWindows.sln -p:Configuration=VulkanOnWindows_Release -p:Platform=x64

      - name: Copy exe Files
        run: |
          cd vdl
          mkdir Bin
          copy vdlTest\x64\DirectX11OnWindows_Release\vdlTestForWindows.exe Bin\DirectX11.exe
          copy vdlTest\x64\DirectX12OnWindows_Release\vdlTestForWindows.exe Bin\DirectX12.exe
          copy vdlTest\x64\VulkanOnWindows_Release\vdlTestForWindows.exe Bin\Vulkan.exe
        
      - name: Upload Exe Files
        uses: actions/upload-artifact@v2
        with:
          name: vdl
          path: vdl\Bin
                   
