name: Builder

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: BulidForWindows
    runs-on: windows-latest

    steps:
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.2
                
      - name: CheckOut vdl
        uses: actions/checkout@v2.3.4
        with:
          path: vdl
          lfs: true
       
      - name: Build vdl
        run: |
            cd vdl
            msbuild vdlForWindows\vdlForWindows.sln -p:Configuration=DirectX11OnWindows_Release -p:Platform=x64
            msbuild vdlForWindows\vdlForWindows.sln -p:Configuration=DirectX12OnWindows_Release -p:Platform=x64
            msbuild vdlForWindows\vdlForWindows.sln -p:Configuration=VulkanOnWindows_Release -p:Platform=x64

      - name: Copy exe Files
        run: |
          cd vdl
          mkdir Bin
          copy vdlTest\x64\DirectX11OnWindows_Release\vdlTestForWindows.exe Bin\DirectX11.exe
          copy vdlTest\x64\DirectX12OnWindows_Release\vdlTestForWindows.exe Bin\DirectX12.exe
          copy vdlTest\x64\VulkanOnWindows_Release\vdlTestForWindows.exe Bin\Vulkan.exe
        
      - name: Upload Exe Files
        uses: actions/upload-artifact@v2
        with:
          name: vdl
          path: vdl\Bin
